Webhook_Conversation-Chatbot-postgress.json
{
  "name": "Webhook_Conversation-Chatbot-postgress",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst incoming = body.sessionId || '';\nconst message = (body.chatInput || '').trim();\n\nfunction generateSessionId() {\n  const random = Math.random().toString(36).slice(2, 8);\n  return `session_${Date.now()}_${random}`;\n}\n\nlet sessionId;\nif (message === '__new_session__' || !incoming) {\n  sessionId = generateSessionId();\n} else {\n  sessionId = incoming;\n}\n\nreturn [{ json: { sessionId, chatInput: message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -80
      ],
      "id": "3543b681-f721-4113-ac57-a39b0d445516",
      "name": "Session Manager"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        -80
      ],
      "id": "2ec5d043-9832-49b0-85c1-891b9bc49ee4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        320,
        144
      ],
      "id": "3b25e7e7-cc4e-472d-9611-9e46ce8b24c3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bf3oJvdIEWSiusAJ",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Session Manager').item.json.sessionId }}",
        "tableName": "n8n_chat_history",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        480,
        144
      ],
      "id": "8834ccd9-c1b8-4335-b92b-8ff8c012036d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "s8YP7j6BGyS6yf7d",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO chat_sessions (session_id, conversation)\nVALUES (\n  '{{ $('Session Manager').item.json.sessionId }}',\n  jsonb_build_array(\n    jsonb_build_object(\n      'turn', 1,\n      'user', '{{ $('Session Manager').item.json.chatInput.replace(/'/g, \"''\") }}',\n      'assistant', '{{ $('AI Agent').item.json.output.replace(/'/g, \"''\") }}',\n      'timestamp', NOW()\n    )\n  )\n)\nON CONFLICT (session_id)\nDO UPDATE SET\n  conversation = chat_sessions.conversation || jsonb_build_array(\n    jsonb_build_object(\n      'turn', jsonb_array_length(chat_sessions.conversation) + 1,\n      'user', '{{ $('Session Manager').item.json.chatInput.replace(/'/g, \"''\") }}',\n      'assistant', '{{ $('AI Agent').item.json.output.replace(/'/g, \"''\") }}',\n      'timestamp', NOW()\n    )\n  ),\n  updated_at = NOW();",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        592,
        -80
      ],
      "id": "445c4492-638f-4c7a-89a1-cab5646d40e5",
      "name": "Upsert Conversation",
      "credentials": {
        "postgres": {
          "id": "s8YP7j6BGyS6yf7d",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -80
      ],
      "id": "38d669dd-fac3-4ce5-97c8-3784de81c4df",
      "name": "Webhook",
      "webhookId": "6dd0cbd0-8881-4953-b0d0-61e8ff8e1a18"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sessionId\": \"{{ $('Session Manager').item.json.sessionId }}\",\n  \"response\": \"{{ $('AI Agent').item.json.output }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        784,
        -80
      ],
      "id": "9f76cd0b-4a19-4796-b12f-5d5ac81d2af9",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Session Manager": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Upsert Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Conversation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Session Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3979eb5e-6cfe-42ef-ab8f-e18a9c94d1f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "556b524747aeaa57de55e804f097d1c502b19d3b87942bc88e6984076e4af0e6"
  },
  "id": "waqmsieeH5kyaBvl",
  "tags": []
}